body {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  background-color: #f7f7f7;
  color: #313134;
}

a {
  text-decoration: none;
  color: #313131;
  outline: 0;
}

::selection {
  color: #fff;
  background-color: #eb5055;
}
