* {
  padding: 0;
  margin: 0;
}

.el-menu {
  color: #fff;
  .el-menu-item-group {
    box-sizing: border-box;
  }
}

.pageBody {
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  min-height: 80vh;
  box-sizing: border-box;
  padding: 24px 16px;
}
