@mixin centerBlock {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin clearfix {
  &:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
  }
  *zoom: 1;
}

@mixin noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@mixin ellipsis {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin singleLine {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}
