@import '../import.scss';

.appBar {
  position: fixed;
  right: 0;
  top: 0;
  transition: left 0.45s $easeOutFunction;
}

.avatar {
  margin-left: 12px;
}

:global {
  .mu-item {
    .toggle-icon {
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
  .mu-item__open {
    .toggle-icon {
      transform: rotate(180deg);
    }
  }
}
