.login {
  height: 100%;
  width: 100%;
  .loginBox {
    width: 500px;
    height: 380px;
    padding: 50px 64px;
    box-sizing: border-box;
    h5 {
      padding-bottom: 12px;
    }
  }
  .loginBt {
    margin-top: 12px;
  }
}
