html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 300;
}
h2 {
  font-size: 60px;
  font-weight: 300;
}
h3 {
  font-size: 48px;
  font-weight: 400;
}
h4 {
  font-size: 34px;
  font-weight: 400;
}
h5 {
  font-size: 24px;
  font-weight: 400;
}
h6 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

@each $mp in margin padding {
  @each $dc in top right bottom left {
    @each $size in 4 8 16 24 {
      .#{$mp}-#{$dc}-#{$size} {
        #{$mp}-#{$dc}: #{$size}px;
      }
    }
  }
}

@media (max-width: 992px) {
  .col {
    &:nth-child(n + 2) {
      margin-top: 16px;
    }
  }
}
