html,
body {
  @apply text-black font-sans bg-gray-100;
}

a:hover {
  @apply text-blue-400;
}

.text-2-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
