@import './vars.less';

:global(a) {
  text-decoration: none;
  color: @link;
}

:global(a:hover) {
  color: @link-hover;
}

:global(.container) {
  width: 1400px;
  margin: 0 auto;
}

:global(.dot) {
  margin: 0 0.2rem;
}
:global(.dot:after) {
  content: '·';
}
